* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-image: url(assets/000024.JPG);
    background-color: rgba(0, 0, 0, 0.75);
    max-height: 100%;
    background-size: cover;
    background-position: center center;
    background-position-y: 25%;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    max-width: 100%;
}

.title {
    text-align: center;
    color: white;
    font-size: 140px;
    margin-top: 20%;
    text-shadow: 5px 5px rgba(0, 0, 0, 0.25);
}

header {
    position: fixed;
    width: 100%;
    padding: 20px 40px;
    top: 0;
    left: 0;
    background-color:rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 80px;
}

.navbar {
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    scale: 200%;
    color: white;
    transition: 200ms;
    text-decoration: none;
}

.icon:hover {
    transform: scale(115%);
    transition: 200ms;
}

/* RESPONSIVE DESIGN */

@media (max-width: 1360px) {
    body {
        background-size: 180%;
        background-position: top;
    }


    .title {
        font-size: 110px;
        margin-top: 25%;
    }
    .logo {
        height: 60px;
    }
    .navbar {
        width: 180px;
    }
}

@media (max-width: 1024px) {
    body {
        background-size: 220%;
        background-position: top;
    }


    .title {
        font-size: 80px;
        margin-top: 30%;
    }
    .logo {
        height: 60px;
    }
    .navbar {
        width: 180px;
    }
}

@media (max-width: 768px) {
    .icon {
        scale: 250%;
        padding-bottom: 15px;
    }

    body {
        background-size: 320%;
        background-position: top;
    }

    header {
        flex-direction: column;
        align-items: center;
        padding: 10px 20px;
    }

    .logo {
        height: 120px;
        margin-bottom: 10px;
    }

    .navbar {
        width: 100%;
        justify-content: center;
        gap: 40px;
    }

    .title {
        font-size: 60px;
        margin-top: 40%;
    }
}

@media (max-width: 480px) {
    .icon {
        scale: 200%;
        padding-bottom: 10px;
    }
    .logo {
        height: 80px;
        margin-bottom: 10px;
    }

    .title {
        font-size: 44px;
        margin-top: 50%;
    }

    .icon {
        scale: 150%;
    }

    header {
        padding: 8px 15px;
    }
}
