* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-image: url(assets/000024.JPG);
    background-color: rgba(0, 0, 0, 0.75);
    max-height: 100%;
    background-size: 110%;
    background-position: center center;
    background-position-y: 25%;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    max-width: 100%;
}

.title {
    text-align: center;
    color: white;
    font-size: 140px;
    margin-top: 20%;
    text-shadow: 5px 5px rgba(0, 0, 0, 0.25);
}

header {
    position: fixed;
    width: 100%;
    padding: 20px 40px;
    top: 0;
    left: 0;
    background-color:rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 80px;
}

.navbar {
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    scale: 200%;
    color: white;
    transition: 200ms;
    text-decoration: none;
}

.icon:hover {
    transform: scale(115%);
    transition: 200ms;
}
