@font-face {
    font-family: "Montserrat";
    src: url("assets/fonts/Montserrat-Black.woff2") format("woff2"),
         url("assets/fonts/Montserrat-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("assets/fonts/Montserrat-BlackItalic.woff2") format("woff2"),
         url("assets/fonts/Montserrat-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
  background-image: url(assets/000024.JPG);
    background-color: rgba(0, 0, 0, 0.75);
    max-height: 100%;
    background-size: cover;
    background-position: center center;
    background-position-y: 25%;
    background-repeat: no-repeat;
    background-blend-mode: darken;
}

.title {
    text-align: center;
    color: white;
    font-size: 140px;
    margin-top: 17%;
    text-shadow: 5px 5px rgba(0, 0, 0, 0.25);
}

header {
    position: fixed;
    width: 100%;
    padding: 20px 40px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 80px;
}

.navbar {
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    scale: 200%;
    color: white;
    transition: 200ms;
    text-decoration: none;
}

.icon:hover {
    transform: scale(115%);
    transition: 200ms;
}

.mobile-icons {
    display: none;
}


@media (max-width: 768px) {
    html, body {
        overflow: hidden; 
        height: 100vh;    
    }

    body {
        background-size: cover;
        background-position: center;
    }


    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px 0;
    }

    .logo {
        height: 65px;
        margin: 0 auto; 
    }


    .navbar {
        display: none;
    }


    .title {
        font-size: 60px;
        margin-top: 65%;
        text-align: center;
    }


    .mobile-icons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px;
        margin-top: 120px;
    }

    .mobile-icons .icon {
        scale: 250%;
        color: white;
        transition: 200ms;
    }

    .mobile-icons .icon:hover {
        transform: scale(120%);
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 44px;
        margin-top: 80%;
        padding: 0 10px;
    }

    .logo {
        height: 55px;
    }

    .mobile-icons {
        gap: 55px;
        margin-top: 180px;
    }

    .mobile-icons .icon {
        scale: 230%;
    }
}
